@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: bolder;
  line-height: 1.8em;
}

.navbar {
  width: 100%;
  background-color: rgba(211, 208, 208, 0.507);
  overflow: auto;
  border-radius: 5pt;
}

.navbar a {
  float: inline-end;
  text-align: center;
  padding: 50px;
  color: rgb(63, 63, 63);
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: rgba(185, 185, 185, 0.411);
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-size: cover;
  background-position: fixed;
  color: rgb(36, 36, 36);
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

header img {
  border-radius: 100%;
  max-width: 200px;
  padding-top: 20pt;
}

h1 {
  text-transform: uppercase;
  margin: 1em 0;
}

h3 {
  text-transform: uppercase;
  text-decoration: underline;
}

h3, h4 {
  font-weight: bold;
}

main {
  max-width: 1140px;
}

main section:not(:last-child) {
  border-bottom: 1px solid rgb(190, 189, 189);
}

.fab {
  border: 1px solid rgb(161, 161, 161);
  border-radius: 50%;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
}

.fab {
  color: rgb(165, 165, 165);
}

.skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.skills .column {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.skills .column ul, ul.job-description {
  list-style-type: none;
}

.school, .job-title {
  text-transform: capitalize;
}

.school span, .job-title span {
  color: #889499;
}

footer {
 padding: 2em;
 background: #f1efec;
 color: rgb(48, 48, 48);
 text-align: center;
}

@media only screen and (max-width: 780px) {
  .course {
    display: block;
  }

  .course .title, .course .descrition {
    max-width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .navbar a {
    float: none;
    display: block;
    padding: 20px;
  }
  
  .skills {
    display: block;
  }

  .skills .column {
    max-width: 100%;
  }

  footer {
    text-align: center;
  }
}
